{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block page_title %}Create Manufacturer{% endblock %}
{% block right_content %}
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class='fa fa-gears'></i> Create Manufacturer</h1>
    </div>
    <!-- Page Heading End-->

    {{ form.errors }}
    <div class="row top-summary">
        <div class="col-lg-12 col-md-6">
            <div class="widget animated fadeInDown">
                <div class="widget-content padding">
                    <div class="text-box">
                        <div class="widget">
                            <div class="widget-content padding">
                                <form class="form-horizontal" role="form" id="createManufacturerForm"
                                      action="{% url 'manufacturers_new' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="input-text" class="col-sm-2 control-label">Manufacturer Name *</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="name">
                                        </div>
                                    </div>


                                    <a href="{% url 'manufacturers' %}">
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </a>
                                    <button type="submit" class="btn btn-primary">Save</button>

                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


    {#    <!--  Modal content for the above example -->#}
    {#    <div class="modal fade create-hardware" tabindex="-1" role="dialog" aria-labelledby="createHardware"#}
    {#         aria-hidden="true">#}
    {#        <div class="modal-dialog modal-lg">#}
    {#            <div class="modal-content">#}
    {##}
    {#                <div class="modal-header">#}
    {#                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
    {#                    <h4 class="modal-title" id="createHardware">Create Hardware Model</h4>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    {% include "dashboard/layouts/create_hardware.html" %}#}
    {#                </div>#}
    {#            </div><!-- /.modal-content -->#}
    {#        </div><!-- /.modal-dialog -->#}
    {#    </div><!-- /.modal -->#}



{% endblock %}
{% block extra_js %}
    <script src="{% static "dashboard/assets/libs/bootstrap-validator/js/bootstrapValidator.min.js" %}"></script>
    <script src="{% static "dashboard/assets/js/pages/form-validation.js" %}"></script>
{% endblock %}